@font-face {
  font-family: SignPainter;
  src: url(signpainterhousescriptregular.ttf);
}

html, body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  font-size: 200%;
  font-family: SignPainter;
  /* color: #A1544B; */
}

h2 {
  font-size: 100%;
  font-weight: 900;
  margin: 0;
}

.center {
  text-align: center;
  font-family: Raleway;
}

.italics {
  font-style: italic;
}

/* Nav Bar */

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

#header-img {
  display: inline-block;
  width: 12em;
  height: 7em;
  float: left;
  padding: 0em;
  margin-left: 1.1em;
}

header {
  position: relative;
}

header::after {
  content:'';
  clear: both;
  display: block;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #A1544B;
  height: 0px;
  overflow: hidden;
}

.site-nav--open {
  height: auto;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding:0;
}

.site-nav li {
  border-bottom: 1px solid #F5E1BD;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  text-decoration: none;
  color: #F5E1BD;
  display: block;
  padding: 2em 6em;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: #464655;
}

.menu-toggle {
  position: absolute;
  padding: 1em;
  top: 2.3em;
  right: 1em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: black;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}


/* sidebar */
#sidebar {
  position: absolute;
  margin-top: 2.5em;
}

.side-ul {
  list-style: none;
  margin-right: 2em;
}

.side-li {
  margin: 1em;
  padding: 0.5em;
}

/* Title Page */
#Title {
  font-size: 4em;
  font-family: SignPainter;
  margin: 0em;
  text-align: center;
}

#intro-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#profile-photo-div {
  width: 12em;
  height: 12em;
}

#photo {
  width: 12em;
  height: 12em;
}

.profile-item {
  margin: 2em;
}

.username {
  font-family: Raleway;
}

.more-info {
  width: 30em;
  height: 12em;
}

/* Your Posts */
.post {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
  margin-top: 1em;
}

.map-icon {
  width: 4em;
  height: 4em;
  margin: 1em;
  margin-left: 1.5em;
}

.post-info {
  height: 4em;
  width: 65%;
  margin: 1em;
}

.post-info-text {
  margin-top: 0.1em;
}

/* footer */
footer {
  margin-top: 3em;
  background-color: #A1544B;
  padding: 2.5em;
  text-align: center;
  color: white;
  width: 100%;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 90%;
}

@media (min-width: 750px) {

 .menu-toggle {
   display: none;
 }

 .site-nav {
   height: auto;
   position: relative;
   background: transparent;
   float: right;
 }

 .site-nav li {
   display: inline-block;
   border: none;
   margin-top: 2.6em;
 }

 .site-nav li:last-child {
   margin-right: 2em;
 }

 .site-nav a {
   padding: 0;
   margin-left: 3em;
   color: black;
 }

 .site-nav a:hover,
 .site-nav a:focus {
   background: transparent;
 }

 .site-nav--icon {
   display: none;
 }
