@font-face {
  font-family: SignPainter;
  src: url(signpainterhousescriptregular.ttf);
}

html {
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
}

.Header_title {
  margin-top: 2em;
  font-family: SignPainter;
  font-size: 3.5em;
}

/* Nav Bar */

header {
  margin: 0em;
  /* position: fixed; */
  padding: 0.2em;
  width: 100%
}

header::after {
  clear: both;
  content: '';
  display: table;
}

nav ul{
  list-style: none;
  float: right;
  margin-right: 2em;
}
nav li{
  display: inline;
  margin: 1em;
  padding: 0.5em;
  display: inline-block;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/* Title Page */

#Title_page {
  text-align: center;
  background-color: #8DB580;
  background-image: url(https://images.unsplash.com/photo-1490708774159-fc61db97f101?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80);
  background-size: cover;
  padding: 18em;
  margin:0em;
}

.Title {
  font-size: 10em;
  font-family: SignPainter;
  margin: 0em;
}
/* About Section */

.About_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  /* background-color: blue; */
}

#About {
  margin-top: 2em;
}

#About_image {
  width: 30em;
  height: 35em;
  margin: 1.1em;
}

#About_Title {
  font-size: 3.5em;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}

#About_text {
  width: 30em;
  height: 10em;
  font-size: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  /* background-color: purple; */
}

/* How To  */

.Circle {
  background-color: white ;
  text-align: center;
  border-radius: 70%;
  width: 4em;
  height: 4em;
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
  margin-top: 2em;
}

.box_item {
  text-align: center;
  width: 22em;
  height: 25em;
  margin: 0.5em;
}

.How_to_text {
  padding: 1.5em;
}

.How_to_boxes {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}

.green_box {
  background-color: #8DB580;
}

.light_green_box {
  background-color: #C2CFB2;
}

.gray_box {
  background-color: #7E8987;
}

footer {
  margin-top: 3em;
  background-color: #B59DA4;
  padding: 2.5em;
  text-align: center;
  color: white;
  width: 100%;
}

@media (max-width: 1100px) {
  .Title {
    font-size: 5em;
    text-align: center;
  }
}
