@font-face {
  font-family: SignPainter;
  src: url(signpainterhousescriptregular.ttf);
}

html {
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
}

.Header_title {
  margin-top: 2em;
  font-family: SignPainter;
  font-size: 3.5em;
}

/* Nav Bar */

#header-img {
width: 18em;
height: 7em;
float: left;
padding: 0em;
}

header {
  margin: 0em;
  /* position: fixed; */
  padding: 0.2em;
  width: 100%
}

header::after {
  clear: both;
  content: '';
  display: table;
}

nav ul{
  list-style: none;
  float: right;
  margin-right: 2em;
}
nav li{
  display: inline;
  margin: 1em;
  padding: 0.5em;
  display: inline-block;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/* Title Page */

#Title_page {
  text-align: center;
  background-color: #ffffff;
  background-image: url(https://images.unsplash.com/photo-1524222717473-730000096953?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  padding: 18em;
  margin:0em;
}

.Title {
  font-size: 10em;
  font-family: SignPainter;
  margin: 0em;
}
/* About Section */

.About_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  /* background-color: blue; */
}

#About {
  margin-top: 2em;
}

#About_image {
  width: 30em;
  height: 35em;
  margin: 1.1em;
}

#About_Title {
  font-size: 3.5em;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  font-family: SignPainter;
}

#About_text {
  width: 30em;
  height: 10em;
  font-size: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  /* background-color: purple; */
}

/* How To  */

.Circle {
  background-color: white ;
  text-align: center;
  border-radius: 70%;
  width: 4em;
  height: 4em;
  margin: 0 auto;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step_number {
  font-size: 1.8em;
  font-weight: bold;
}

.box_item {
  text-align: center;
  width: 22em;
  height: 23em;
  margin: 0.5em;
}

.How_to_text {
  padding: 2em;
}

.How_to_boxes {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}

.neutral_box {
  background-color: #E0C798 ;
}

.orange_box {
  background-color: #A1544B;
}

.green_box {
  background-color: #868C4C;
}

footer {
  margin-top: 3em;
  background-color: #D6CDE2;
  padding: 2.5em;
  text-align: center;
  color: white;
  width: 100%;
}

@media (max-width: 1400px) {
  #About_text {
    font-size: 1.4em;
    width: 50em;
    height: 18em;
  }
  #About_image {
    display: none;
  }
}

@media (max-width: 1100px) {
  .Title {
    font-size: 5em;
    text-align: center;
  }
  #About_image {
    display: none;
  }
  #About_text {
    font-size: 1.25em;
    width: 50em;
    height: 18em;
  }
}

@media (max-width: 800px) {
  #About_text {
    font-size: 0.9em;
  }
}
