@font-face {
  font-family: SignPainter;
  src: url(signpainterhousescriptregular.ttf);
}

html {
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
}

p {
  padding: 5em;
}

p2 {
  padding: 1em;
}

.Header_title {
  margin-top: 2em;
  font-family: SignPainter;
  font-size: 3.5em;
}

/* Nav Bar */
#header-img {
width: 18em;
height: 7em;
float: left;
padding: 0em;
}

header {
  margin: 0em;
  /* position: fixed; */
  padding: 0.2em;
  width: 100%
}

header::after {
  clear: both;
  content: '';
  display: table;
}

nav ul {
  list-style: none;
  float: right;
  margin-right: 2em;
}

nav li {
  display: inline;
  margin: 1em;
  padding: 0.5em;
  display: inline-block;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/* Title Page */
#Title_page {
  text-align: center;
  background-color: #ffffff;
  background-image: url(https://images.unsplash.com/photo-1516813147935-a2b3e7160e49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  padding: 8em;
  margin: 0em;
}

.Title {
  font-size: 10em;
  font-family: SignPainter;
  margin: 0em;
}

/* Footer */
footer {
  margin-top: 3em;
  background-color: #D6CDE2;
  padding: 2.5em;
  text-align: center;
  color: white;
  width: 100%;
}

/* Map
 * Always set the map height explicitly to define the size of the div
 * element that contains the map. */

/* LOOOOOOOOK HEREEE */
 /*
#map {
  height: 100%;
} */

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* #description {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
/* Set the size of the div element that contains the map */



/*
RECOMMENT! UNCOMMENT? PUT THIS BACK LATER!
#map {
  height: 500px;
  /* The height is 400 pixels */
  /* width: 50%; */
  /* The width is the width of the web page */
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

 /* COMMENTED THIS OUT PUT BACK IF NO WORK */
 /*
#map {
  height: 100%;
} */

/* Optional: Makes the sample page fill the window. */



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 10;
  /* The height is 400 pixels */
  width: 50%;
  /* The width is the width of the web page */
}

#buttcenter {
  text-align: center;
}
