/* * {box-sizing: border-box} */

@font-face {
  font-family: SignPainter;
  src: url(signpainterhousescriptregular.ttf);
}

html {
  font-family: 'Raleway', sans-serif;
}

.section_title {
  font-family: SignPainter;
}

label input {
  text-align: center;
}

 /* Nav Bar */
 #header-img {
 width: 18em;
 height: 7em;
 float: left;
 padding: 0em;
 }
 
header {
  margin: 0em;
  /* position: fixed; */
  padding: 0.2em;
  width: 100%
}

header::after {
  clear: both;
  content: '';
  display: table;
}

nav ul{
  list-style: none;
  float: right;
  margin-right: 2em;
}
nav li{
  display: inline;
  margin: 1em;
  padding: 0.5em;
  display: inline-block;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

div {
  display: block;
}

input[type=text], input[type=notes] {
  width: 80%;
  padding: 12px;
  margin: 5px 0px 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


button {
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}


h1 {
  font-size: 200%;
  text-align: center;
}

h2 {
  font-size: 100%;
}


div {
  display: block;
}
.returning {
  float: left;
  width: 50%;
}

.new {
  float: right;
  width: 50%
}

input[type=text]:focus, textarea[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

button:hover {
  opacity:1;
}

.right {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}
.labels {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 40%;
  padding: 0.8em;
  float: left;
}

.labelstyle {
  font-weight: bold;
}

textarea {
  width: 80%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.newContainer {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}
.backbtn {
  background-color: #A1544B;
  float: left;
  width: 40%;
  background: white;
  color: gray;
}
.postbtn {
  background-color: #868C4C;
  float: right;
  width: 30%;
  background:
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
/* .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
/* @media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
} */ */
