@font-face {
  font-family: SignPainter;
  src: url(signpainterhousescriptregular.ttf);
}

html, body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.section_title {
  font-family: SignPainter;
}

label input {
  text-align: center;
}

/* Nav Bar */
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

#header-img {
  display: inline-block;
  width: 12em;
  height: 7em;
  float: left;
  padding: 0em;
  margin-left: 1.1em;
}

header {
  position: relative;
}

header::after {
  content:'';
  clear: both;
  display: block;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #A1544B;
  height: 0px;
  overflow: hidden;
}

.site-nav--open {
  height: auto;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding:0;
}

.site-nav li {
  border-bottom: 1px solid #F5E1BD;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  text-decoration: none;
  color: #F5E1BD;
  display: block;
  padding: 2em 6em;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: #464655;
}

.menu-toggle {
  position: absolute;
  padding: 1em;
  top: 2.3em;
  right: 1em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: black;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* Title Page */
#Title_page {
  text-align: center;
  background-color: #ffffff;
  background-image: url(https://images.unsplash.com/photo-1528873981-36c6afde7b9d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80);
  background-size: cover;
  padding: 8em;
  margin: 0em;
}

.Title {
  font-size: 10em;
  font-family: SignPainter;
  margin: 0em;
}

div {
  display: block;
}

input[type=text], input[type=notes] {
  width: 100%;
  padding: 12px;
  margin: 5px 0px 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#form-section {
  /* width: 80%; */
  margin: 0 auto;
}

button {
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

h1 {
  font-size: 400%;
  text-align: center;
  font-family: SignPainter;
}

h2 {
  font-size: 200%;
  text-align: left;
  font-family: SignPainter;
}

h4 {
  font-size: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.new {
  float: right;
  width: 50%
}

input[type=text]:focus, textarea[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

button:hover {
  opacity: 1;
}

/*
.right {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}
.labels {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 40%;
  padding: 0.8em;
  float: left;
} */
.labelstyle {
  font-weight: bold;
}

textarea {
  width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add padding to container elements */
.container2 {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.newContainer {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

.backbtn {
  background-color: #A1544B;
  float: left;
  width: 30%;
}

.postbtn {
  background-color: #868C4C;
  float: right;
  width: 30%;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: white;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
/* .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#footer {
  margin-top: 1em;
  background-color: #E0C798;
  padding: 2.5em;
  text-align: center;
  color: white;
  width: 100%;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  width: 100%;
  padding: 12px;
  margin: 5px 0px 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#pac-input:focus {
  border-color: #4d90fe;
}

/* Change styles for cancel button and signup button on extra small screens */
/* @media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
} */


@media (min-width: 750px) {

 .menu-toggle {
   display: none;
 }

 .site-nav {
   height: auto;
   position: relative;
   background: transparent;
   float: right;
 }

 .site-nav li {
   display: inline-block;
   border: none;
   margin-top: 2.6em;
 }

 .site-nav li:last-child {
   margin-right: 2em;
 }

 .site-nav a {
   padding: 0;
   margin-left: 3em;
   color: black;
 }

 .site-nav a:hover,
 .site-nav a:focus {
   background: transparent;
 }

 .site-nav--icon {
   display: none;
 }
